body{
    background-color: lightslategrey;
}

.bar.total rect {
    fill:  darkblue;
  }
  
  .bar.positive rect {
    fill: darkcyan;
  }
  .bar.negative rect {
    fill: darkred;
  }
  
  .bar line.connector {
    stroke: white;
    stroke-dasharray: 100000;
    stroke-width: 1px;
  }
  
  .bar text {
    fill: white;
    font: 12px sans-serif;
    text-anchor: middle;
  }
  
  .axis text {
    font: 14px sans-serif;
    color: white !important;
   position: relative;
   top: 30;
  }
  .y text {
    font: 14px sans-serif;
    color: white !important;
   transform: rotate(-45deg);
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }